h1 {
  color: blue;
  text-align: center;
}
h2 {
  color: red;
  text-align: center;
}
.i{
  color: yellow;
}
img{
  margin-left: 20%
}
h4 {
  color: blue;
  text-align: right;
}
.class bulletin {
  text-align: center;
}
body, html {
  height: 100%;
}
. bg {
  background-image: image(pictures/flowery.jpg);
  height: 100%
  background-size: cover;
}
body {
  backgorund-color: lightblue;
}
