h1 {
  color: blue;
  text-align: center;
}
h2 {
  color: red;
  text-align: center;
}
.i{
  color: lightblue;
  text-align: center;
  font-style: oblique;
}
h4 {
  color: blue;
  text-align: right;
}
.class bulletin {
  text-align: center;
}
body, html {
  height: 100%;
}
. bg {
  background-image: image(pictures/flowery.jpg);
  height: 100%
  background-size: cover;
}
body {
  backgorund-color: lightblue;
}
